@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap')

body {
  font-family: Tahoma, sans-serif;
  font-size: large;
  background-image: url('img/Background.jpeg');
}

.handwritten {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}


.center {
  margin: auto;
  width: 40%;
  border: 3px solid blue;
  padding: 10px;
}

#divIndex{
  text-align: center;
}

@media (max-width: 1200px) {
  .center{
    width: 60%;
  }
}

@media (max-width: 700px) {
  .center{
    width: 85%;
  }
}

@media (max-width: 500px) {
  .center{
    width: 90%;
  }
}
