body{
    background-color:antiquewhite;
    /*text-align: center;*/
    text-align: justify;
    text-justify: inter-word;
    font-size: x-large;
    margin-right: 5%;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: black;
}
/*
p{
    text-align: justify;
    text-justify: inter-word;
}*/

.elenco{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}